{% extends 'base.html' %}
{% block title %}{{ article }}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ article }}</h3>
          <p class="card-text">{{ article.content }}</p>
          <p class="card-text"><small class="text-muted">Категория: {{ article.category }}</small></p>
          <p class="card-text"><small class="text-muted">Дата публикации: {{ article.publication_date }}</small></p>
          <p class="card-text"><small class="text-muted">Количество просмотров: {{ article.views_count }}</small></p>
        </div>
    </div>
    <h3>Комментарии</h3>
    <ul class="list-group">
    {% for comment in comments %}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ comment.author }}</h5>
                {% if comment.changed_date == comment.publication_date %}
                <small class="text-muted">{{ article.publication_date }}</small>
                {% else %}
                <small class="text-muted">Изменен {{ article.changed_date }}</small>
                {% endif %}
            </div>
            <p class="mb-1">{{ comment.text }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
