{% extends 'hw1app/base.html' %}

{% block title %}About{% endblock %}
{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque architecto, fuga laborum rerum
expedita velit quis exercitationem, sed fugit soluta deserunt ratione esse dignissimos neque quas
nostrum molestias doloremque consequatur voluptate explicabo aliquam iusto natus perspiciatis!
Voluptates voluptas officia praesentium officiis. Natus fugit autem impedit alias consectetur
minus et voluptates, doloribus itaque? Illo ea aperiam exercitationem natus in unde fugiat sit
quod hic! Quidem eveniet accusamus error facere nostrum facilis esse eum minima cum accusantium
temporibus modi, sequi quaerat odio aliquam dolores asperiores aut veritatis at eaque? Tenetur
pariatur minus repellat reprehenderit, quibusdam illum! Eligendi ipsam est nobis unde iste.</p>
{% endblock %}
